<a href="https://colab.research.google.com/github/guiaparicio/data-science/blob/master/Aula01/Introdu%C3%A7%C3%A3o_a_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [74]:
import pandas as pd

notas = pd.read_csv("ratings.csv")

# MOSTRA A QUANTIDADE DE REGISTROS / COLUNAS
notas.shape 

# RENOMEIA AS COLUNAS
notas.columns = ["usuarioId", "filmeId", "nota", "momento"]

# MOSTRA APENAS OS PRIMEIROS REGISTROS
notas.head()

# MOSTRA OS VALORES DE UMA COLUNA ESPECIFICA
notas['nota']

# MOSTRA OS VALORES DE UMA COLUNA ESPECIFICA (UNICOS)
notas['nota'].unique()

# MOSTRA A QUANTIDADE DE OCORRENCIA PARA CADA VALOR
notas['nota'].value_counts()

4.0    26818
3.0    20047
5.0    13211
3.5    13136
4.5     8551
2.0     7551
2.5     5550
1.0     2811
1.5     1791
0.5     1370
Name: nota, dtype: int64